---
layout: default
title: Fend
---

<header>
  {% include carousel.html height="34" unit="%" duration="5" %}
	<!-- {% include carousel.html height="600" unit="px" duration="5" %} -->
	<div class="container">
		<div class="column">
			<div>
				<h1 class="editable" style="text-align: center;">It’s time to switch sides.</h1>
				<p class="editable" style="text-align: center;">Help us save our Earth in the fight against consumerism.</p>
				<div class="button" style="text-align: center;">
					<a href="#donate">Donate Now</a>
				</div>
			</div>
		</div>
		<!-- <div class="column">
			<img src="{{ site.baseurl }}/images/sheep.jpg" alt="Sheep">
		</div> -->
	</div>
</header>

<div class="container">
	<h2 class="editable" style="text-align: center;">Your favorite fast-retail brands are killing the planet.</h2>

	<ul class="thirds">
		<li>
			<div class="image">{% include icons/site.html icon="waste" %}</div>
			<h3 class="editable">Waste</h3>
			<p class="editable">Up to 85% of textiles go into landfills each year. That's enough to fill the Sydney harbor annually. </p>
		</li>

		<li>
			<div class="image">{% include icons/site.html icon="water" %}</div>
			<h3 class="editable">Water</h3>
			<p class="editable">Consumerism is linked to 80% of the global water usage. It takes about 2,257 gallons of water to make a pair of shoes.</p>
		</li>

		<li>
			<div class="image">{% include icons/site.html icon="gw" %}</div>
			<h3 class="editable">Global Warming</h3>
			<p class="editable"> The things we consume are responsible for up to 60 percent of global greenhouse gas emissions.</p>
		</li>
	</ul>
</div>

<div class="container">
	<div class="columns">
		<div>
			<img src="{{ site.baseurl }}/images/earth.png">
		</div>
		<div>
			<h2 class="editable">Our Mission</h2>
			<p class="editable">At Fend, our mission is to protect the environment against the negative impacts of disposable consumerism. In times of global unrest, our goal is to reduce fast-retail practices by educating consumers and providing a mindful shopping experience.
			<p class="editable">We aim to bring awareness to the value of reusing goods & second-hand shopping by informing & empowering a global community. Our next goal is to explore innovative, green technologies to reverse the destruction of our planet.
		</div>
	</div>
</div>

<!-- <div class="container">
	<hr>
	<blockquote>
		<p class="quote editable">Some quote if we want it.</p>
		<div class="attribute">
			<p class="meta">
				<span class="image"><img class="editable" src="{{ site.baseurl }}/images/wooly.jpg" alt="Wooly"></span>
				<span class="author editable"><strong>Wooly McBaa</strong></span>
			</p>
		</div>
	</blockquote>
</div> -->

<div class="darker">
	<div class="container">
		<h2 class="editable">Join us</h2>
		<p class="editable" style="text-align: center;">Sign up to hear the latest news and progress in our fight for the environment.</p>
		<form action="{{ site.newsletter_action }}" method="post">
			<input type="text" name="EMAIL" placeholder="Email">
			<input type="submit" value="Sign up"/>
		</form>
	</div>
</div>

<div class="container" id="donate">
	<h2 class="editable">Make a donation</h2>
	<div class="donate">
		{{ site.donation_embed }}
	</div>
</div>

<!-- <div class="darker">
	<div class="container">
		<h2 class="editable">Updates</h2>
		<p class="editor-link"><a href="cloudcannon:collections/_posts" class="btn"><strong>&#9998;</strong> Add Update</a></p>
		<div class="posts">
			{% for post in site.posts %}
				<div class="post">
					<div class="image" style="background-image: url({{ post.featured_image}})"></div>
					<div class="post-content">
						<p class="date">{{ post.date | date: '%B %d, %Y' }}</p>
						<h3>{{ post.title }}</h3>

						{{ post.content }}
						<p class="editor-link"><a href="cloudcannon:collections/{{ post.path }}" class="btn"><strong>&#9998;</strong> Edit Update</a></p>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div> -->
